<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  action="/write" method="post">
        작성자 : <input type="text" name="email" placeholder="writerEmail"> <br>
        제목 :    <input type="text" name="curationTitle" placeholder="curationTitle"><br>
                <textarea name="curationText" placeholder="curationText"></textarea><br>

        <input type="submit" value="등록">
    </form>
</body>
</html>